__pycache__/
*.pyc

# Ignore user isolated data but retain the data folder
data/*
!data/.gitkeep

# Environments
.env
venv/
env/
.venv/

# Streamlit Local Secrets (DO NOT COMMIT API KEYS)
.streamlit/secrets.toml
